{% extends "layout.html" %}

{% block content %}
<br>
<br>
<div class="input-group">
    <label for="sorteos"><b>Tipos de Sorteos</b></label>
    <br>
    <select class="custom-select" id="inputGroupSelect02">
        <option selected>Escoger...</option>
        <option value="1">Tris Medio D&iacute;a</option>
        <option value="2">Chispazo</option>
        <option value="3">Melate Revancha</option>
    </select>
</div>
<div class="input-group">
    <label for="fecha"><b>Fecha de la venta</b></label>
    <input class="form-control" id="fecha" type="date">
</div>
<br>
<table style=" background-color: #FFFFFF;" class="table table-bordered">
    <thead style=" background-color: #DDA060;" class="thead-dark">

        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo de sorteo</th>
            <th scope="col">fecha</th>
            <th scope="col">venta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>
{% endblock %}
