{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}

{%if messages %}
{%for message in messages%}

<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<br>
<br>
<form id="sorteos" action="/junto" method="POST">
    <div class="input-group">
        <label for="sorteo"><b>Tipos de Sorteos</b></label>
        <br>
        <select class="custom-select" name="sorteo" id="sorteo">
            <option value="" selected>Escoger...</option>
            <option value="Tris Medio Dia">Tris Medio D&iacute;a</option>
            <option value="Chispazo">Chispazo</option>
            <option value="Melate Revancha">Melate Revancha</option>
        </select>
    </div>
    <br>
    <div class="input-group">
        <label for="fecha"><b>Fecha de la venta</b></label>
        <input class="form-control" name="fecha" id="fecha" type="date">
    </div>
    <br>
    <button type="submit">
        guardar
    </button>
</form>
<br>
<table style=" background-color: #FFFFFF;" class="table table-bordered">
    <thead style=" background-color: #DDA050;" class="thead-dark">

        <tr>
            <th>numero</th>
            <th>Tipo de sorteo</th>
            <th>fecha</th>
            <th>venta</th>
        </tr>
    </thead>
    <tbody>

        {%for contactos in venta %}
        <tr>
            <td>{{contactos.0}} </td>
            <td>{{contactos.1}} </td>
            <td>{{contactos.2}} </td>
            <td>{{contactos.3}} </td>
        </tr>

       
        {%endfor%}

    </tbody>
</table>
{% endblock %}
